<script>
import {
  // ruleid: okay-broadcast-message-vue-component
  GlBroadcastMessage
} from '@gitlab/ui';

export default {
  components: {
    GlBroadcastMessage
  },
  computed: {
    classes() {
      // ruleid: broadcast-message-class-vue
      return ['gl-broadcast-message']
    }
  }
}
</script>
<template>
  <div>
    <!-- ok: broadcast-message-class-vue -->
    <gl-broadcast-message>
      I am a good broadcast-message
    <!-- ok: broadcast-message-class-vue -->
    </gl-broadcast-message>
    <!-- ruleid: broadcast-message-class-vue -->
    <div class="gl-broadcast-message">
      I am a bad broadcast-message
    </div>
  </div>
</template>
