- # ruleid: form-textarea-class-haml
.gl-form-textarea

- # ruleid: form-textarea-custom-implementation-haml
= f.text_area :help_page_text, class: 'form-control gl-form-input', rows: 4

- # ruleid: form-textarea-native-haml
%textarea{ rows: 1, name: "project[template_project_id]", id: project.name, placeholder: 'Placeholder' }
  = project.id
