<script>
// ruleid: okay-form-textarea-vue-component
import { GlFormTextarea } from '@gitlab/ui';

// ok: form-textarea-native-vue
// <textarea>

export default {
  components: {
    GlFormTextarea,
  },
  computed: {
    /**
     * ok: form-textarea-native-vue
     * <textarea>
     */
    classes() {
      // ruleid: form-textarea-class-vue
      return ['some-classname', 'gl-form-textarea', 'foobar'];
    },
  },
};
</script>
<template>
  <div>
    <!-- ok: form-textarea-class-vue -->
    <gl-form-textarea>
      I am a good textarea
    </gl-form-textarea>

    <!-- ruleid: form-textarea-class-vue -->
    <div class="gl-form-textarea">
      This class should not be used outside the GlFormTextarea component
    </div>

    <!-- ruleid: form-textarea-native-vue -->
    <textarea>
      I am a native textarea
    </textarea>

    <!-- ruleid: form-textarea-native-vue -->
    <textarea
      ref="textarea"
      :placeholder="placeholder"
      :value="text"
      class="note-textarea ide-commit-message-textarea"
      dir="auto"
      name="commit-message"
      @scroll="handleScroll"
      @input="onInput"
      @focus="updateIsFocused(true)"
      @blur="updateIsFocused(false)"
      @keydown.ctrl.enter="onCtrlEnter"
      @keydown.meta.enter="onCtrlEnter"
    >
    </textarea>

    <!-- ok: form-textarea-native-vue -->
    <textarea
      v-if="descriptionText"
      :value="descriptionText"
      :data-update-url="updateUrl"
      class="hidden js-task-list-field"
      dir="auto"
      data-testid="textarea"
    >
    </textarea>

    <!-- ok: form-textarea-native-vue -->
    <textarea
      v-if="issuable.description && enableTaskList"
      ref="textarea"
      :value="issuable.description"
      :data-update-url="taskListUpdatePath"
      class="gl-display-none js-task-list-field"
      dir="auto"
    >
    </textarea>

    <!-- ok: form-textarea-native-vue -->
    <textarea class="gl-display-none"></textarea>

    <!-- ok: form-textarea-native-vue -->
    <textarea
      ref="textarea"
      rows="1"
      class="reply-placeholder-text-field js-vue-discussion-reply"
      :placeholder="placeholderText"
      :aria-label="labelText"
      @focus="$emit('focus')"
    ></textarea>
  </div>
</template>
