<script>
import {
  GlButton,
  GlSorting,
} from '@gitlab/ui';

export default {
  components: {
    GlButton,
    GlSorting,
  },
};
</script>

<template>
  <div>
    <!-- ruleid: okay-sorting-vue-component -->
    <gl-sorting
      v-if="selectedSortOption"
      :sort-options="transformedSortOptions"
      :sort-by="sortById"
      :is-ascending="sortDirectionAscending"
      class="sort-dropdown-container"
      @sortByChange="handleSortByChange"
      @sortDirectionChange="handleSortDirectionChange"
    />

    <!-- ruleid: sorting-item-vue-component -->
    <gl-sorting
      :text="sortFieldName"
      :is-ascending="isSortAscending"
      :sort-direction-tool-tip="$options.i18n.sortDirectionLabel"
      class="gl-ml-auto"
      dropdown-class="gl-flex-grow-1"
      sort-direction-toggle-class="gl-flex-grow-0!"
      @sortDirectionChange="toggleSortOrder"
    >
      <gl-sorting-item
        v-for="(name, field) in sortFields"
        :key="field"
        :active="isCurrentSortField(field)"
        @click="setSortField(field)"
      >
        {{ name }}
      </gl-sorting-item>
    </gl-sorting>

    <gl-button
      :disabled="!selectedSortOption.sortable"
      :title="sortDirectionData.tooltip"
      :aria-label="sortDirectionData.tooltip"
      // ruleid: custom-sorting-vue
      :icon="sortDirectionData.icon"
      @click="handleSortDirectionChange"
    />
  </div>
</template>
