<template>
  <section>
    <h2 class="gl-text-size-h2">Defined rules as of {{ date }}</h2>

    <gl-loading-icon v-if="pending" size="xl" />

    <scan-failed-to-load-alert v-else-if="errors.length > 0" :errors="errors" />

    <gl-tabs v-else content-class="gl-pt-0" sync-active-tab-with-query-params>
      <gl-tab title="By rule ID" query-param-value="by-id">
        <gl-table-lite v-bind="allRulesTableDataProps">
          <template #cell(id)="{ item }"
            ><span class="gl-font-monospace">{{ shortId(item.id) }}</span></template
          >
          <template #cell(componentLabel)="{ item }">
            <gl-label :title="item.componentLabel" background-color="#F1D6AC" />
          </template>
          <template #cell(migrationGuide)="{ item }">
            <migration-guide-link :href="item.migrationGuide" />
          </template>
        </gl-table-lite>
      </gl-tab>
      <gl-tab title="By component" query-param-value="by-component">
        <gl-table-lite v-bind="componentRulesTableDataProps">
          <template #head(compliancePercentage)="{ label }">
            {{ label }}
            <compliance-percentage-help id="1" />
          </template>
          <template #cell(componentLabel)="{ item }">
            <gl-label :title="item.componentLabel" background-color="#F1D6AC" />
          </template>
        </gl-table-lite>
      </gl-tab>
      <gl-tab title="By group" query-param-value="by-group">
        <gl-table-lite v-bind="groupRulesTableDataProps">
          <template #head(compliancePercentage)="{ label }">
            {{ label }}
            <compliance-percentage-help id="2" />
          </template>
          <template #cell(groupLabel)="{ item }">
            <gl-label :title="item.group" scoped background-color="#A8D695" />
          </template>
        </gl-table-lite>
      </gl-tab>
    </gl-tabs>
  </section>
</template>

<script>
import GlLabel from '@gitlab/ui/src/components/base/label/label.vue';
import GlLoadingIcon from '@gitlab/ui/src/components/base/loading_icon/loading_icon.vue';
import GlTab from '@gitlab/ui/src/components/base/tabs/tab/tab.vue';
import GlTabs from '@gitlab/ui/src/components/base/tabs/tabs/tabs.vue';
import GlTableLite from '@gitlab/ui/src/components/base/table/table.vue';
import { shortId } from 'shared/rules.js';
import CompliancePercentageHelp from '~/components/compliance_percentage_help.vue';
import MigrationGuideLink from '~/components/migration_guide_link.vue';
import ScanFailedToLoadAlert from '~/components/scan_failed_to_load_alert.vue';
import { getCurrentScan, getRules, getScansSummary } from '~/lib/api';
import {
  allRulesTableDataProps,
  componentRulesTableDataProps,
  groupRulesTableDataProps,
} from '~/lib/rules_table';

export default {
  name: 'RulesPage',
  components: {
    CompliancePercentageHelp,
    GlLabel,
    GlLoadingIcon,
    GlTab,
    GlTabs,
    GlTableLite,
    MigrationGuideLink,
    ScanFailedToLoadAlert,
  },
  layout: 'body_scroll',
  data() {
    return {
      scan: null,
      rules: null,
      date: '...',
    };
  },
  async fetch() {
    const [scans, scan, rules] = await Promise.all([
      getScansSummary(),
      getCurrentScan(),
      getRules(),
    ]);

    this.date = scans.current.date;
    this.scan = scan;
    this.rules = rules;
  },
  fetchOnServer: false,
  computed: {
    pending() {
      return this.$fetchState?.pending;
    },
    errors() {
      const { error } = this.$fetchState;
      return error ? [error] : [];
    },
    allRulesTableDataProps() {
      return allRulesTableDataProps(this.scan, this.rules);
    },
    componentRulesTableDataProps() {
      return componentRulesTableDataProps(this.scan, this.rules);
    },
    groupRulesTableDataProps() {
      return groupRulesTableDataProps(this.scan, this.rules);
    },
  },
  methods: {
    shortId,
  },
};
</script>

<style>
/**
 * Use custom CSS instead of the stickHeader prop, as that makes the table body
 * scroll and gives the table itself a fixed height. Instead, here, we want the
 * page body to scroll.
 *
 * See https://bootstrap-vue.org/docs/components/table#sticky-headers.
 */
thead {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}
</style>
