-# ruleid: table-without-class-haml
%table

-# ruleid: table-class-haml
%table.table

-# ruleid: table-class-haml
%table.b-table

-# ruleid: table-class-haml
%table.gl-table

-# ruleid: table-class-haml
%table.table.gl-table

-# ruleid: table-class-haml
%table.b-table.gl-table

-# ruleid: okay-gl-table-class-haml
%table.table.b-table.gl-table.b-table-stacked-md{ role: 'table' }

-# ruleid: okay-gl-table-class-haml
%table.gl-table.b-table.table{ role: 'table' }

-# ruleid: okay-gl-table-class-haml
%table.b-table.gl-table.table{ role: 'table' }
