<script>
import {
  Foo1,
  Foo2,
  Foo3,
  Foo4,
  Foo5,
  Foo6,
  Foo7,
  Foo8,
  Foo9,
  Foo10,
  Foo11,
  // ruleid: okay-combobox-vue-component
  GlFormCombobox,
  Foo12,
} from '@gitlab/ui';

export default {
  components: {
    GlFormCombobox,
  },
}
</script>

<template>
  <div></div>
</template>
