<script>
import {
  // ruleid: dropdown-vue-component
  GlDropdown,
  // ruleid: okay-disclosure-vue-component
  GlDisclosureDropdown
} from '@gitlab/ui';
// ruleid: vue-shared-dropdown-component
import DropdownButton from '~/vue_shared/components/dropdown/dropdown_button.vue';

export default {
  components: {
    DropdownButton,
    GlDropdown,
    GlDisclosureDropdown
  },
  computed: {
    classes() {
      return [
      ]
    }
  }
}
</script>
<template>
  <div>
    <gl-dropdown />
    <gl-disclosure-dropdown />
    <dropdown-button />
    <!-- ruleid: bootstrap-dropdown-toggle-vue -->
    <button data-toggle="dropdown">I am a bad dropdown</button>
  </div>
</template>
