-# ruleid: bootstrap-dropdown-toggle-haml
%button{ data: { toggle: "dropdown" } }
-# ruleid: bootstrap-dropdown-toggle-haml
%button{ data: { toggle: 'dropdown' } }
-# ruleid: bootstrap-dropdown-toggle-haml
%button{ data: { toggle: :dropdown } }
-# ruleid: bootstrap-dropdown-toggle-haml
%button{ 'data-toggle' => 'dropdown' }
-# ruleid: bootstrap-dropdown-toggle-haml
%button{ "data-toggle" => 'dropdown' }
-# ruleid: bootstrap-dropdown-toggle-haml
%button{ 'data-toggle' => "dropdown" }
-# ruleid: bootstrap-dropdown-toggle-haml
%button{ 'data-toggle' => :dropdown }

-# ruleid: dropdowns-helper-haml-rb
= dropdown_tag(_(toggle_text), options: { toggle_class: 'js-template-type-selector qa-template-type-dropdown', dropdown_class: 'dropdown-menu-selectable' })

-# ruleid: dropdowns-helper-haml-rb
= dropdown_toggle form.object.target_branch.presence || _("Select branch"), { toggle: "dropdown", 'field-name': "#{form.object_name}[target_branch]", 'refs-url': refs_project_path(@project, sort: 'updated_desc', find: 'branches'), selected: form.object.target_branch, default_text: _("Select branch") }, { toggle_class: "js-compare-dropdown js-target-branch monospace" }
