-# ruleid: listbox-ref-selector
= render 'shared/ref_dropdown', dropdown_class: 'wide'

-# ruleid: listbox-ref-selector
= render partial: 'shared/ref_dropdown', locals: {destination: 'graph'}

-# ruleid: listbox-ref-selector
= render 'shared/ref_switcher', destination: 'graphs_commits'

-# ruleid: listbox-ref-selector
= render partial: 'shared/ref_switcher', locals: {destination: 'graph'}

-# ruleid: listbox-selecttwo-haml-ruby
= f.select :project_view, project_view_choices, {}, class: 'select2'

-# ruleid: okay-redirect-listbox-helper
= gl_redirect_listbox_tag starrers_sort_options, @sort, class: 'gl-ml-3', data: { right: true }

:ruby
  # ruleid: listbox-selecttwo-haml-ruby
  select2_tag(id, opts)

  def foo
    # ruleid: okay-redirect-listbox-helper
    gl_redirect_listbox_tag starrers_sort_options, @sort, class: 'gl-ml-3', data: { right: true }
  end
