<script>
import {
  // ruleid: okay-accordion-vue-component
  GlAccordion
} from '@gitlab/ui';

import {
  // ruleid: accordion-vue-component
  Accordion,
  // ruleid: accordion-vue-component
  AccordionItem,
} from 'ee/vue_shared/components/accordion';

// ok: accordion-vue-component
import { Accordion } from '~/accordion';

export default {
  components: {
    GlAccordion,
  },
}
</script>

<template>
  <div></div>
</template>
