<script>
 export default {
   mounted(){
     // ruleid: file-uploader-custom-implementation
     dropzoneInput(this.$refs.form, {});
   },
 }
</script>
<template>
  <div>
    <!-- ruleid: file-uploader-native-vue -->
    <input
        ref="fileUpload"
        type="file"
        name="design_file"
        :accept="$options.VALID_DESIGN_FILE_MIMETYPE.mimetype"
        class="gl-display-none"
        multiple
        @change="onFileUploadChange"
    />

    <!-- ruleid: file-uploader-custom-implementation -->
    <upload-dropzone
        input-field-name="license[data_file]"
        @change="onChange"
        @error="onError"
    />
    <!-- ruleid: file-uploader-custom-implementation -->
    <upload :path="path" @create="createTempEntry" />
  </div>
</template>
