<template>
  <gl-form-group label="By component" label-for="component-listbox">
    <gl-collapsible-listbox
      id="component-listbox"
      searchable
      :selected="value"
      :items="components"
      @select="$emit('input', $event)"
      @search="query = $event"
    />
  </gl-form-group>
</template>

<script>
import GlFormGroup from '@gitlab/ui/src/components/base/form/form_group/form_group.vue';
import GlCollapsibleListbox from '@gitlab/ui/src/components/base/new_dropdowns/listbox/listbox.vue';

export const ALL = '__all__';

export default {
  name: 'ByComponent',
  components: {
    GlFormGroup,
    GlCollapsibleListbox,
  },
  props: {
    value: {
      type: String,
      required: true,
    },
    rules: {
      type: Map,
      required: true,
    },
  },
  data() {
    return {
      query: '',
    };
  },
  computed: {
    components() {
      const componentLabels = new Set();
      for (const rule of this.rules.values()) componentLabels.add(rule.metadata.componentLabel);

      const components = [...componentLabels].sort().map((componentLabel) => ({
        text: componentLabel.split(':')[1],
        value: componentLabel,
      }));

      return [{ text: 'All', value: ALL }, ...components].filter(({ text }) =>
        text.toLowerCase().includes(this.query.toLowerCase()),
      );
    },
  },
};
</script>
