<template>
  <client-only>
    <gl-drawer header-sticky v-bind="$attrs" class="gl-overflow-y-hidden" v-on="$listeners">
      <template #title>Findings in {{ nodePathText }}</template>
      <virtual-list
        :data-sources="findings"
        data-key="id"
        :data-component="$options.ScanFinding"
        :extra-props="extraProps"
        class="gl-max-h-full gl-overflow-y-auto"
      />
    </gl-drawer>
  </client-only>
</template>

<script>
import GlDrawer from '@gitlab/ui/src/components/base/drawer/drawer.vue';
import VirtualList from 'vue-virtual-scroll-list';
import ScanFinding from '~/components/scan_finding.vue';

export default {
  name: 'FindingsDrawer',
  components: {
    GlDrawer,
    VirtualList,
  },
  inheritAttrs: false,
  props: {
    findings: {
      type: Array,
      required: true,
    },
    commit: {
      type: String,
      required: true,
    },
    node: {
      type: Object,
      required: true,
    },
    nodePath: {
      type: Array,
      required: true,
    },
  },
  computed: {
    nodePathText() {
      return this.nodePath.join(' > ');
    },
    extraProps() {
      return {
        commit: this.commit,
      };
    },
  },
  ScanFinding,
};
</script>

<style scoped>
/**
 * This is a hack to make the virtual scroller work.
 * Normally the `.gl-drawer` container is the scrolling element, but that's not
 * what we want here. Combined with some utility classes in the template, we
 * force the body of the drawer to occupy at most 100%. The body is then filled
 * by the virtual scrolling element.
 */
.gl-drawer::v-deep .gl-drawer-body {
  max-height: 100%;
  overflow-y: hidden;
}
</style>
