<template>
  <gl-link v-if="href" v-tooltip="tooltip" :href="href" target="_blank">{{ text }}</gl-link>
  <span v-else class="gl-inline-flex gl-items-center">
    <span class="gl-text-gray-400">{{ text }}</span>
    <gl-button
      v-if="error"
      v-tooltip="$options.refreshIssue"
      :aria-label="$options.refreshIssue"
      category="tertiary"
      size="small"
      icon="retry"
      class="gl-ml-2"
      @click="findIssue({ noCache: true })"
    />
  </span>
</template>

<script>
import GlButton from '@gitlab/ui/src/components/base/button/button.vue';
import GlLink from '@gitlab/ui/src/components/base/link/link.vue';
import { GlTooltipDirective } from '@gitlab/ui/src/directives/tooltip';
import { cachedFindIssueForPathAndLabel } from '~/lib/api';
import { makeUrl } from '~/lib/url';

const STATE_IDLE = 'IDLE';
const STATE_LOADING = 'LOADING';
const STATE_HAS_ISSUE = 'HAS_ISSUE';
const STATE_CREATE_ISSUE = 'CREATE_ISSUE';
const STATE_ERROR = 'ERROR';

const MIGRATION_LABELS = ['pajamas::integrate', 'type::maintenance', 'SUS::impacting'];

export default {
  name: 'FindingIssueLink',
  components: {
    GlButton,
    GlLink,
  },
  directives: {
    tooltip: GlTooltipDirective,
  },
  props: {
    path: { type: String, required: true },
    ruleName: { type: String, required: true },
    message: { type: String, default: '' },
    componentLabel: { type: String, default: '' },
    group: { type: String, default: '' },
    epic: { type: String, default: '' },
  },
  data: () => ({
    issue: null,
    state: STATE_IDLE,
  }),
  computed: {
    text() {
      switch (this.state) {
        case STATE_LOADING:
          return 'Loading…';
        case STATE_HAS_ISSUE: {
          const isClosed = this.issue.state === 'closed';
          return `#${this.issue.iid}${isClosed ? ' (closed)' : ''}`;
        }
        case STATE_CREATE_ISSUE:
          return 'Create Issue';
        case STATE_ERROR:
          return 'Check failed';
        default:
          return '';
      }
    },
    tooltip() {
      return this.issue ? this.issue.title : '';
    },
    href() {
      switch (this.state) {
        case STATE_HAS_ISSUE:
          return this.issue.url;
        case STATE_CREATE_ISSUE: {
          const title = `Migrate \`${this.ruleName}\` in \`${this.path}\``;
          const labels = [...MIGRATION_LABELS, this.componentLabel, this.group]
            .map((label) => (label ? `~"${label}"` : ''))
            .join(' ');

          const descriptionLines = [this.message, `/label ${labels}`];

          if (this.epic) {
            descriptionLines.push(`/epic ${this.epic}`);
          }

          return makeUrl('https://gitlab.com/gitlab-org/gitlab/-/issues/new', {
            'issue[title]': title,
            'issue[description]': descriptionLines.join('\n'),
          });
        }
        default:
          return null;
      }
    },
    error() {
      return this.state === STATE_ERROR;
    },
  },
  mounted() {
    this.findIssue();
  },
  methods: {
    async findIssue({ noCache = false } = {}) {
      if (this.state === STATE_LOADING) return;

      this.state = STATE_LOADING;

      let issue;
      try {
        issue = await cachedFindIssueForPathAndLabel({
          componentLabel: this.componentLabel,
          rule: this.ruleName,
          path: this.path,
          noCache,
        });
      } catch (error) {
        this.state = STATE_ERROR;
        return;
      }

      if (!issue) {
        this.state = STATE_CREATE_ISSUE;
      } else {
        this.state = STATE_HAS_ISSUE;
        this.issue = issue;
      }
    },
  },
  refreshIssue: 'Retry fetching issue',
};
</script>
