<template>
  <gl-link v-if="href" :href="href">{{ linkText }}</gl-link>
  <span v-else aria-label="None">―</span>
</template>

<script>
import GlLink from '@gitlab/ui/src/components/base/link/link.vue';

const rEpicId = /\/epics\/(?<epicId>\d+)\/?$/;

export default {
  components: {
    GlLink,
  },
  props: {
    href: {
      type: String,
      required: false,
      default: null,
    },
  },
  computed: {
    linkText() {
      const match = rEpicId.exec(this.href);

      return match ? `&${match.groups.epicId}` : 'link';
    },
  },
};
</script>
