<template>
  <gl-stacked-column-chart
    width="auto"
    height="auto"
    v-bind="chartProps"
    class="force-responsive-chart"
  />
</template>

<script>
import GlStackedColumnChart from '@gitlab/ui/src/components/charts/stacked_column/stacked_column.vue';
import { historyToStackedColumnChartProps } from '~/lib/history';

export default {
  name: 'ScanHistoryChart',
  components: {
    GlStackedColumnChart,
  },
  props: {
    history: {
      type: Array,
      required: true,
    },
    rules: {
      type: Map,
      required: true,
    },
    componentLabel: {
      type: String,
      required: true,
    },
  },
  computed: {
    chartProps() {
      return {
        option: {
          textStyle: {
            fontFamily: '"GitLab Sans", sans-serif',
          },
        },
        ...historyToStackedColumnChartProps(this.history, this.rules, this.componentLabel),
      };
    },
  },
};
</script>
