<template>
  <div class="gl-border-b gl-relative gl-mb-5">
    <div class="gl-mb-3 gl-flex gl-items-center gl-justify-between gl-gap-3">
      <h5 class="gl-min-w-0"><gl-truncate :text="details.filename" with-tooltip /></h5>
      <gl-badge v-tooltip="details.message" :variant="details.variant" href="#">{{
        details.badgeText
      }}</gl-badge>
    </div>
    <div v-if="!details.isInfo">
      Issue:
      <finding-issue-link
        :path="details.path"
        :message="details.message"
        :rule-name="details.ruleName"
        :component-label="details.componentLabel"
        :group="details.group"
        :epic="details.epic"
      />
    </div>

    <div class="gl-flex gl-items-center gl-gap-3">
      File:
      <gl-link :href="details.url" target="_blank" class="gl-min-w-0"
        ><gl-truncate :text="details.pathWithLine" position="start" with-tooltip
      /></gl-link>
      <copy-button
        label="Copy path to clipboard"
        :text="details.path"
        size="small"
        class="gl-shrink-0"
      />
    </div>

    <div v-if="!details.isInfo">
      Migration guide:
      <migration-guide-link :href="details.epic" />
    </div>

    <mark-lines
      :lines="source.extra.lines"
      :start="source.start"
      :end="source.end"
      class="gl-mt-3 gl-whitespace-pre-wrap gl-rounded-base gl-bg-gray-50 gl-p-3"
    />
  </div>
</template>

<script>
import GlBadge from '@gitlab/ui/src/components/base/badge/badge.vue';
import GlLink from '@gitlab/ui/src/components/base/link/link.vue';
import GlTruncate from '@gitlab/ui/src/components/utilities/truncate/truncate.vue';
import { GlTooltipDirective } from '@gitlab/ui/src/directives/tooltip';
import { shortId } from 'shared/rules.js';
import CopyButton from '~/components/copy_button.vue';
import FindingIssueLink from '~/components/finding_issue_link.vue';
import MarkLines from '~/components/mark_lines.vue';
import MigrationGuideLink from '~/components/migration_guide_link.vue';
import { GITLAB_REPO_WEB_URL } from '~/lib/constants';

const severityMap = {
  ERROR: 'danger',
  WARNING: 'warning',
  INFO: 'success',
  DEFAULT: 'neutral',
};

export default {
  name: 'ScanFinding',
  components: {
    CopyButton,
    FindingIssueLink,
    GlBadge,
    GlLink,
    GlTruncate,
    MarkLines,
    MigrationGuideLink,
  },
  directives: {
    tooltip: GlTooltipDirective,
  },
  props: {
    index: {
      type: Number,
      required: true,
    },
    source: {
      type: Object,
      required: true,
    },
    commit: {
      type: String,
      required: true,
    },
  },
  computed: {
    details() {
      const { extra, path } = this.source;
      const { group, message, severity } = extra;
      const { line: start } = this.source.start;
      const { line: end } = this.source.end;
      const { componentLabel, epic } = extra.metadata;
      const pathWithLine = start === end ? `${path}#L${start}` : `${path}#L${start}-${end}`;
      const [filename] = this.source.path.split('/').reverse();
      const variant = severityMap[severity] ?? severityMap.DEFAULT;
      const badgeText = severity.toLowerCase();

      return {
        badgeText,
        componentLabel,
        filename,
        group,
        isInfo: severity === 'INFO',
        message,
        epic,
        path,
        pathWithLine,
        ruleName: shortId(this.source.check_id),
        url: `${GITLAB_REPO_WEB_URL}/-/blob/${this.commit}/${pathWithLine}`,
        variant,
      };
    },
  },
};
</script>
