<template>
  <div class="gl-max-w-34 gl-whitespace-normal">
    <template v-if="message">
      <p>{{ message }}</p>
      <p v-if="migrationInfo">{{ migrationInfo }}</p>
    </template>

    <p v-else>{{ path }}</p>

    <div>
      Click to show <b>{{ count }}</b> findings
    </div>
  </div>
</template>

<script>
export default {
  name: 'TreeMapTooltip',
  props: {
    /**
     * The info argument passed to eChart's tooltip.formatter function.
     */
    info: {
      type: Object,
      required: true,
    },
  },
  computed: {
    count() {
      return this.info.data.value;
    },
    path() {
      const { treePathInfo } = this.info;

      return treePathInfo.map((node) => node.name).join(' / ');
    },
    message() {
      return this.info.data.message;
    },
    migrationInfo() {
      const { severity, migrationGuide } = this.info.data;

      // prettier-ignore
      return severity === 'INFO' ?
        ''
      : severity === 'WARNING' ?
        'There is no migration path for these findings.'
      : migrationGuide ?
        'There is a migration guide for these findings.'
      : 'We are working on a migration guide for these findings.'
    },
  },
};
</script>
