<script>
// ruleid: okay-form-radio-vue-component
import { GlFormRadio } from '@gitlab/ui';
// ruleid: okay-form-radio-vue-component
import { GlFormRadioGroup } from '@gitlab/ui';

export default {
  components: {
    GlFormRadio,
    GlFormRadioGroup,
  },
  computed: {
    classes() {
      // ruleid: form-radio-class-vue
      return ['other-class', 'gl-form-radio', 'and-another']
    }
  }
}
</script>
<template>
  <div>
    <!-- ok: form-radio-class-vue -->
    <gl-form-radio-group v-model="columnType">
      <!-- ok: form-radio-class-vue -->
      <gl-form-radio
          v-for="{ text, value } in columnTypes"
          :key="value"
      >
        {{ text }}
      </gl-form-radio>
    </gl-form-radio-group>

    <!-- ruleid: form-radio-class-vue -->
    <div class="gl-form-radio">
      I am a bad form radio button
    </div>

    <!-- ruleid: form-radio-native-vue -->
    <input type="radio" value="admin" />
  </div>
</template>
