-# ruleid: spinner-class-haml
.gl-spinner

-# ruleid: okay-gl-loading-icon-haml-rb
= gl_loading_icon(size: 'lg')

-# ruleid: okay-spinner-view-component-haml
= render Pajamas::SpinnerComponent.new(size: :lg)

-# ruleid: okay-gl-loading-icon-haml-rb
= gl_loading_icon(size: "md", css_class: "gl-mt-7")
