%div
  - # ruleid: banner-class-haml
  .gl-banner
    I am such a bad banner
  - # ruleid: banner-class-haml
  %section{class: "foo gl-banner bar"}
    Bruce Banner
  - # ruleid: okay-banner-view-component-haml
  = render Pajamas::BannerComponent.new
