-# ruleid: bootstrap-tab-haml
= link_to item_path, { data: { toggle: "tab" } }
-# ruleid: bootstrap-tab-haml
= link_to item_path, { data: { toggle: 'tab' } }
-# ruleid: bootstrap-tab-haml
= link_to item_path, { data: { toggle: :tab } }
-# ruleid: bootstrap-tab-haml
= link_to item_path, { 'data-toggle' => 'tab' }
-# ruleid: bootstrap-tab-haml
= link_to item_path, { "data-toggle" => 'tab' }
-# ruleid: bootstrap-tab-haml
= link_to item_path, { 'data-toggle' => "tab" }
-# ruleid: bootstrap-tab-haml
= link_to item_path, { 'data-toggle' => :tab }

- # ruleid: okay-tab-helper-haml
= gl_tabs_nav do
  = gl_tab_link_to
