<script>
import {
  // ruleid: okay-datepicker-vue-component
  GlDatepicker
} from '@gitlab/ui';

export default {
  components: {
    GlDatepicker
  },
  computed: {
    classes() {
      // ruleid: datepicker-class-vue
      return ['gl-datepicker']
    }
  }
}
</script>

<template>
  <div>
    <!-- ok: datepicker-class-vue -->
    <gl-datepicker>
      I am a good date picker
    <!-- ok: datepicker-class-vue -->
    </gl-datepicker>
    <!-- ruleid: datepicker-class-vue -->
    <div class="gl-datepicker">
      I am a bad date picker
    </div>
  </div>
</template>
