- # ruleid: form-input-custom-implementation-haml
= f.text_field :provider, class: 'form-control gl-form-input'

- # ruleid: form-input-custom-implementation-haml
= f.number_field :provider, class: 'form-control gl-form-input'

- # ruleid: form-input-custom-implementation-haml
= text_field_tag :provider, class: "form-control gl-form-input"

- # ruleid: form-input-custom-implementation-haml
%input{ type: "text", placeholder: 'Placeholder', aria: { label: 'Label' } }
