-# ruleid: okay-modal-confirm-haml
%button{ data: { confirm: 'modal' } }
-# ruleid: okay-modal-confirm-haml
%button{ 'data-confirm' => 'modal' }
-# ruleid: okay-modal-confirm-haml
%button{ "data-confirm" => 'modal' }

- # ruleid: bootstrap-modal-haml
.modal
  .modal-dialog
    .modal-content