<script>
import {
  // ruleid: okay-alert-vue-component
  GlAlert
} from '@gitlab/ui';

// ruleid: alert-flash-js-vue
import createFlash, { hideFlash } from '~/flash';
// ruleid: alert-flash-js-vue
import flash from '~/flash';
// ruleid: alert-flash-js-vue
import createFlash from './flash';
// ruleid: okay-alert-flash-js-vue
import { createAlert } from '~/flash';
// ruleid: okay-alert-flash-js-vue
import { createAlert } from '~/alert';

export default {
  components: {
    GlAlert
  },
  computed: {
    classes() {
      // ruleid: alert-class-vue
      return ['gl-alert']
    }
  }
}
</script>
<template>
  <div>
    <!-- ok: alert-class-vue -->
    <gl-alert>
      I am a good alert
    <!-- ok: alert-class-vue -->
    </gl-alert>
    <!-- ruleid: alert-class-vue -->
    <div class="gl-alert">
      I am a bad alert
    </div>

    <!-- ruleid: alert-iconless-vue -->
    <gl-alert :show-icon="false">https://gitlab.com/groups/gitlab-org/-/epics/13490</gl-alert>

    <!-- ruleid: alert-iconless-vue -->
    <gl-alert show-icon>https://gitlab.com/groups/gitlab-org/-/epics/13490</gl-alert>

    <gl-alert
      v-if="!inboundJobTokenScopeEnabled"
      class="gl-mb-3"
      variant="warning"
      :dismissible="false"
      // ruleid: alert-iconless-vue
      :show-icon="false"
    >
      {{ $options.i18n.settingDisabledMessage }}
    </gl-alert>

    <!-- ok: alert-iconless-vue -->
    <gl-foo-bar :show-icon="false" />
  </div>
</template>
