<script>
import {
  // ruleid: okay-pagination-vue-component
  GlPagination,
  // ruleid: okay-pagination-keyset-vue-component
  GlKeysetPagination,
} from '@gitlab/ui';

// ruleid: okay-pagination-vue-component, okay-pagination-keyset-vue-component
import { Foo, GlPagination, GlKeysetPagination, Bar } from '@gitlab/ui';

export default {
  components: {
    GlPagination,
    GlKeysetPagination,
  },
}
</script>

<template>
  <!-- ruleid: pagination-without-total-items-component -->
  <gl-pagination
    v-show="!loading"
    v-if="paginationRequired"
    :prev-page="previousPage"
    :next-page="nextPage"
    :value="pageValue"
    align="center"
    @input="goToPage"
  />

  <!-- ok: pagination-without-total-items-component -->
  <gl-pagination
    v-model="currentPage"
    :per-page="perPage"
    :total-items="totalItems"
    align="center"
    class="gl-w-full gl-mt-3"
  />

  <!-- ok: pagination-without-total-items-component -->
  <gl-pagination
    v-if="showPagination"
    class="gl-mt-5"
    v-bind="$attrs"
    align="center"
    :value="pageInfo.page"
    :per-page="pageInfo.perPage"
    :total-items="pageInfo.total"
    :prev-page="pageInfo.previousPage"
    :prev-text="$options.prevText"
    :next-page="pageInfo.nextPage"
    :next-text="$options.nextText"
    :label-first-page="$options.labelFirstPage"
    :label-prev-page="$options.labelPrevPage"
    :label-next-page="$options.labelNextPage"
    :label-last-page="$options.labelLastPage"
    @input="change"
  />

  <!-- ok: pagination-without-total-items-component -->
  <gl-pagination-foo />

  <!-- ok: pagination-without-total-items-component -->
  <gl-paginationfoo />
</template>
