<script>
import {
  // ruleid: okay-badge-vue-component
  GlBadge
} from '@gitlab/ui';

// ruleid: okay-badge-vue-component
import { Foo, GlBadge, Bar } from '@gitlab/ui';

export default {
  components: {
    GlBadge
  },
  methods: {
    okayBadgeClass() {
      return [
        // ok: badge-class-vue
        this.$el.querySelector('.gl-badge'),
        // ok: badge-class-vue
        this.$el.querySelectorAll('.gl-badge'),
        // ok: badge-class-vue
        this.$el.classList.contains('.gl-badge'),
      ];
    },
  },
}
</script>
<template>
  <div>
    <!-- ruleid: badge-class-vue -->
    <span class="gl-badge">
      I am a bad badge
    </span>

    <!-- ruleid: badge-class-vue -->
    <span class="badge badge-pill">
      I am a bad badge
    </span>

    <!-- ok: badge-class-vue -->
    <gl-badge>
      Foo
    <!-- ok: badge-class-vue -->
    </gl-badge>
  </div>
</template>
