<script>
import {
  // ruleid: okay-skeleton-loader-vue-component
  GlSkeletonLoader
} from '@gitlab/ui';

export default {
  components: {
    GlSkeletonLoader
  },
  computed: {
    classes() {
      // ruleid: skeleton-loader-class-vue
      return ['gl-skeleton-loader']
    }
  },
  render(createElement) {
    // ok: skeleton-loader-class-vue
    return createElement('gl-skeleton-loader');
  },
}
</script>
<template>
  <div>
    <!-- ok: skeleton-loader-class-vue -->
    <gl-skeleton-loader>
      I am a good skeleton-loader
    <!-- ok: skeleton-loader-class-vue -->
    </gl-skeleton-loader>
    <!-- ruleid: skeleton-loader-class-vue -->
    <div class="gl-skeleton-loader"></div>
  </div>
</template>
